@media (max-width: 767px) {
  .logo {
    text-align: center;
    padding-top: 110px;
  }
  .holiday-dream {
    padding-top: 40px;
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
  .holiday-section-sub-title {
    display: block;
    width: 220px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .title-section-parners {
    max-width: 320px;
    margin: 0 auto;
  }
  .partners-item {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .partners-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
    margin: 0 auto;
  }
  .navigation-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    margin: 0 auto;
    min-height: 700px;
  }

  .page-header {
    padding-top: 40px;
  }
  .holiday-dream {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 136px;
  }
  .holiday-section-title {
    font-size: 52px;
    margin-bottom: 36px;
  }
  .holiday-section-sub-title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .holiday-button {
    padding: 15px 25px;
    border-radius: 25px;
  }

  .partners-list {
    max-height: 600px;
    max-width: 492px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .partners-section-button button {
    padding: 14px 30px;
  }
  .partners-section-button {
    padding: 42px 0;
  }
}
@media (min-width: 768px) and (max-width: 941px) {
  .partners-item:nth-child(odd) {
    margin-bottom: 58px;
  }
}
@media (min-width: 942px) {
  .container {
    max-width: 942px;
  }
  .page-header {
    padding: 0;
    padding-top: 38px;
  }
  .partners-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 942px;
  }
  .partners-item {
    margin-bottom: 0;
  }
  .flex-man {
    order: 1;
  }
  .flex-second-girl {
    order: 2;
  }
}
